<div class='logo' aria-label='kling klang flut'>
  <div class='logo--ascii' aria-hidden=true>
                                                                                                          .*%@+  .*%@*               ::
                       :##@=                                                                             -@+ =@ :@+ =@.            *#+@=
 :+%@@@@@%#     -@@   -@- #@                                                                            :@#  *# @%  +@            #%  @+
+@*.   *@@.    .@@=  :@*  ## ::                         -#%@:      .*%@+                                %@: :@.+@=  %+           =@- +%
@@:    %@*    :@@=   #@: .@-+@@*                       +@. %*     .@+ +@.                              =@# -%: @@  =%            @@:#+
-#-   .@@-  .*@*:   :@%  #*  ..                       =@= .@-     %%  +@                               %@***. :@% +%. =%=  -%-:#%@@%%##+
     +#@@##%*=      +@+ **  *%:  -%= .+%%    .+##+=:  @@  #*     +@-  @+                              .@@#:   =@@%*  .@@   %@   =@*
     :%@%-*@#-      #@*#*  :@@   @@.=%*@@   +@*. %@- -@*.#=      @@  *%                               -@% *###@@%.   =@#  *@*   +@*
.     @@=  -@@+     *@@=   *@+  :@@*+ -@+  =@#  :@@  *@@*.=*#*. :@% +%.  :+##==   -#- :+#*    .+##+=. =@# @:  .@@.  -%@#-*%@- :##@@.  -
@:   *@%    =@@*. .+@@%   =@@= .#@@#  #@- :%@*  #@*  %@-:%=:%@= =@%+#   #@+ .@@   @@ +##@%   *@*. @@. =@# *=   :#@@%*-%@#..%@%*: .#@@%+
+%%#@%+      :#@@@%= =%@@%+-%@%#=@@.  =@@%*-#@%*%@-  @@=%. -@*  =@@*   #@+  =@*  -@%*+ =@=  +@*  -@%  -@# =#
                                              :*@@   %@@.:@@.  :%@@   :@@- .@@= .#@@*  %@. :@@=  %@=  .@@ =#
                                            :#++@=   *@=  +%@%%*:-%@%%*+%@#*:#@%#+@%   *@@%*=%@#*@@.   #@=#-
                                           *#. %%                                              :*@#     --.
                                          =@. *@.                                            :#+*@-
                                          .#%#*.                                            *#. @#
                                                                                           +@  #%
                                                                                           -%%%*

  </div>
</div>
