// This file is for variables and mixins _only_.
// So it can be included in other sass files without
// duplicate definitions in the generated CSS.

$monospace-font: 'Nanum Gothic Coding', monospace
$body-font: $monospace-font
$decorative-font: 'Pacifico', cursive
$font-size-base: 16px

$background-color: #111111
$body-color: #DDDDDD
$color-1: #1290bf
$color-2: #8fc13e
$color-3: #fdcc59
$color-4: #fd8b19
$color-5: #b33508
$color-6: #dd464c
$color-7: #c85e7c

$gradient: linear-gradient(135deg, $color-1, $color-2, $color-3, $color-5, $color-6, $color-7)

$breakpoint-xs: 480px
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px
$breakpoint-xxl: 1400px


=breakpoint-up($breakpoint)
  @media (min-width: $breakpoint)
    @content

=breakpoint-down($breakpoint)
  @media (max-width: $breakpoint)
    @content

=rainbow
  background: $gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
