@import definitions

@import ext/fontawesome

@import blocks/colors
@import blocks/content
@import blocks/divider
@import blocks/footer_links
@import blocks/logo


body
  background: $background-color
  color: $font-color
  font-family: $body-font
  font-size: $font-size-base
  line-height: 1.4em

a
  word-break: break-all
  color: $color-4
  text-decoration: none
  &:hover, &:active
    color: $color-3

code
  font-family: $monospace-font

button 
  $button-color: $color-2
  display: inline-block
  position: relative
  cursor: pointer
  background-color: $button-color
  border: 1px solid $button-color
  border-radius: 25px
  padding: 10px 50px
  color: black
  font-weight: bold
  font: inherit

h1, h2, h3, h4, h5, h6
  font-family: $decorative-font
  font-weight: normal
  margin-top: 1.8em


@keyframes gradient-animation
  0%
    background-position: 0% 0%
  50%
    background-position: 100% 100%
  100%
    background-position: 0% 0%
