@import definitions

@import ext/fontawesome

@import blocks/logo
@import blocks/footer_links
@import blocks/divider
@import blocks/colors


body
  background: $background-color
  color: $body-color
  font-family: $body-font
  font-size: $font-size-base

a
  color: $color-1
  &:hover, &:active
    color: $color-4

code
  color: $color-3


// external libraries
@import ../node_modules/codemirror/theme/hopscotch
@import ../node_modules/codemirror/lib/codemirror
